<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JO 2024{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Réservation JO 2024</h1>
        <nav>
                {% if user.is_authenticated %}
                    <span>Bienvenue, {{ user.first_name }} {{ user.last_name }}</span> |
                    <a href="{% url 'mes_billets' %}">Mes billets</a> |
                    <a href="{% url 'deconnexion' %}">Déconnexion</a>
                {% else %}
                    <a href="{% url 'inscription' %}">Inscription</a> |
                    <a href="{% url 'connexion' %}">Connexion</a>
                {% endif %}
        
        </nav>
        <hr>
    </header>

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
